.map-view__container {
  height: calc(100vh - 61px);
  width: 100vw;
  z-index: 0;
}
.map-view__buttons {
  position: fixed;
  z-index: 1;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.map-view__center-button {
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  line-height: 0;
  font-size: x-large;
}
.map-view__button {
  line-height: 0;
  font-size: x-large;
}
.map-view__toast {
  position: absolute;
  z-index: 1;
  bottom: 25px !important;
}
